{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br><br><br><br>
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Cererea de resetare a parolei a fost primită</h1> 
    <h5>Dacă există contul asociat e-mailul introdus veți primi, în cel mai scurt timp un e-mail cu instrucțiunile de resetare a parolei.</h5><br>
    <h6 style="width: 60%; margin: 0 auto">Dacă nu ați primit e-mailul, vă rog asigurați-vă că ați introdus e-mailul corect, și verificați fișierul de mesaje spam. </h6>
 </div><br>
 <div class="text-center">
    <a href="{% url 'index' %}" class="btn btn-secondary" role="button">Înapoi la pagina principală</a>
 </div><br>
{% endblock %}