{% extends 'base.html' %} 
{% block content%}
<section id="login" class="bg-light py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-5 mx-auto">
             <div class="card">
                <div class="card-header bg-primary text-white">
                   <h4>
                     <i class="fas fa-key"></i> Resetare parolă
                   </h4>
                </div>
                <div class="card-body">
                      <!-- Alerts-->
                      {% include 'partials/_alerts.html' %}
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Nouă parolă trebuie să îndeplinească condițiile:</label>
                        </div>
                        <div class="form-group">
                            <label>1. Parola nu poate fi similară cu alte date ale contului </label>
                        </div>
                        <div class="form-group">
                            <label>2. Parola trebuie să conțină cel puțin 8 caractere </label>
                        </div>
                        <div class="form-group">
                            <label>3. Parola nu poate fi o parolă comună (exp. parola1234) </label>
                        </div>
                        <div class="form-group">
                            <label>4. Parola nu poate să conțină exclusiv caractere numerice</label>
                        </div>
                        <div class="form-group">
                            <label >Parolă nouă*</label>
                            <p>{{form.new_password1}}</p>
                        </div>
                        <div class="form-group">
                            <label >Parolă nouă - confirmare*</label>
                            <p>{{form.new_password2}} </p>    
                        </div>
                        <input type="submit" value="Save" class="btn btn-secondary btn-block">
                      </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>


{% endblock%}