{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{realEstate.nume}}</h1>
          <p class="lead">Agenție imobiliară</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Agenție imobiliară: {{realEstate.nume}}</li>
        </ol>
      </nav>
    </div>
  </section>
  {% include 'partials/_alerts.html' %}
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Bine ai venit, {{realEstate.nume}}!</h2>
          <a href="{% url 'listing_request' %}" class="btn btn-secondary" role="button">Cereri</a>
          <a href="{% url 'listings_real_estate' %}" class="btn btn-secondary" role="button">Anunțuri</a>
          <a href="{% url 'real_estate_contacts' %}" class="btn btn-secondary" role="button">Contacte</a>
          <a href="{% url 'view_raport' %}" class="btn btn-primary" role="button">Raport</a>
          <a href="{% url 'profil_real_estate' realEstate.id %}" class="btn btn-primary" role="button">Vezi profil</a>
          <a href="{% url 'edit_real_estate_account' %}" class="btn btn-primary" role="button">Editare cont</a>
          <a href="{% url 'change_password' %}" class="btn btn-primary" role="button">Schimbare parolă</a>
          <br>
          <br>
          <p>Ultimele contacte: </p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titlu proprietate</th>
                <th scope="col">Propritar contactat</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr>
                  <td>{{contact.id}}</td>
                  {% if contact.tip_anunt == "Apartament" %}
                    <td><a href="{% url 'apartament' contact.ID_anunt%}"> {{contact.titlu_anunt}} </a></td>
                  {% else %}
                    {% if contact.tip_anunt == "Casa" %}
                        <td><a href="{% url 'house' contact.ID_anunt%}"> {{contact.titlu_anunt}} </a></td>
                      {% else %}
                        <td><a href="{% url 'land' contact.ID_anunt%}"> {{contact.titlu_anunt}} </a></td>
                    {% endif %}
                  {% endif %}
                  <td>
                    {% if contact.proprietar_contactat %}
                      Da
                    {% else %}
                      Nu
                    {% endif %}
                    </td>
                  <td>
                  <a class="btn btn-primary" href="{% url 'real_estate_contact' contact.id %}">Vezi contact</a>
                  </td>
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br><br>
  </section>
 
{% endblock %}