{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{realEstate.nume}}</h1>
          <p class="lead">Agenție imobiliară</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'real_estate_account' %}">
              Agenție imobiliară: {{realEstate.nume}} </a>
          </li>
          <li class="breadcrumb-item active">Contact: {{contact.titlu_anunt}}</li>
        </ol>
      </nav>
    </div>
  </section>
  {% include 'partials/_alerts.html' %}
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <h2>Contact - {{contact.id}}</h2>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
               <label for="tip_anunt" class="col-form-label">Tip anunt:</label>
               <input type="text" name="tip_anunt" class="form-control" value="{{contact.tip_anunt}}" readonly>
            </div>
            <div class="form-group">
                <label for="id_anunt" class="col-form-label">ID anunt:</label>
                <input type="text" name="id_anunt" class="form-control" value="{{contact.ID_anunt}}" readonly>
             </div>
            <div class="form-group">
               <label for="titlu_anunt" class="col-form-label">Titlu:</label>
               <input type="text" name="titlu_anunt" class="form-control" value="{{contact.titlu_anunt}}" readonly>
            </div>
            <div class="form-group">
                <label for="id_client" class="col-form-label">ID client:</label>
                <input type="text" name="id_client" class="form-control" value="{{contact.ID_client}}" readonly>
             </div>
            <div class="form-group">
               <label for="nume" class="col-form-label">Nume:</label>
               <input type="text" name="nume" class="form-control" value="{{contact.nume}}" readonly>
            </div>
            <div class="form-group">
               <label for="prenume" class="col-form-label">Prenume:</label>
               <input type="text" name="prenume" class="form-control" value="{{contact.prenume}}" readonly>
            </div>
            <div class="form-group">
               <label for="email" class="col-form-label">Email:</label>
               <input type="email" name="email" class="form-control" value="{{contact.email}}" readonly>
            </div>
            <div class="form-group">
               <label for="telefon" class="col-form-label">Telefon:</label>
               <input type="text" name="telefon" class="form-control" value="{{contact.telefon}}" readonly>
            </div>
            <div class="form-group">
               <label for="mesaj" class="col-form-label">Mesaj:</label>
               <textarea name="mesaj" rows="10" cols="150" class="form-control" required>{{contact.mesaj}}</textarea>
            </div>
            <input type="submit" value="Trimite către proprietar" class="btn btn-secondary btn-block">
         </form>
        </div>
      </div>
    </div>
  </section>
  <br><br>
{% endblock %}