{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{realEstate.nume}}</h1>
          <p class="lead">Agenție imobiliară</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'real_estate_account' %}">
              Agenție imobiliară: {{realEstate.nume}} </a>
          </li>
          <li class="breadcrumb-item active">Date de contact - {{owner.user}}</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table" >
            <thead>
              <tr>
                <th scope="col">Nume</th>
                <th scope="col">Prenume</th>
                <th scope="col">Telefon</th>
                <th scope="col">Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{owner.nume}}</td>
                    <td>{{owner.prenume}}</td>
                    <td>{{owner.telefon}}</td>
                    <td>{{owner.email}}</td>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}