<!-- Subsol -->
<style>
   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 50px;
     background-color: #10284e;
     color: white;
     text-align: center;
   }
   </style>
<section id="footer1" class="footer">
  <div class="container">
   <pre class="tab"></pre>
     <div class="row">
        <div class="col-md-4">
           Copyright &copy;
           2020 <a href="{% url 'index' %}" style="color: white;">escanorimobiliare.ro</a>
        </div>
        <div class="col-md-4">
         <a href="{% url 'contact_escanor' %}" style="color: white;"><i class="fas fa-envelope-open"></i> escanor.imobiliare@gmail.com</a>
        </div>
        <div class="col-md-4">
           <i class="fas fa-phone"></i> 0733319167
        </div>
     </div>
  </div>
</section>